:root {
    --green: #00ff41;
    --bg: #050505;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--green);
    font-family: monospace;
}

/* CENTRAL */
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* LOGIN */
#login-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.login-box {
    padding: 30px;
    border: 1px solid var(--green);
    background: rgba(0,255,65,0.05);
    box-shadow: 0 0 20px rgba(0,255,65,0.2);
    border-radius: 10px;
    text-align: center;
}

.login-box input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
    background: transparent;
    border: 1px solid #003b00;
    color: var(--green);
}

.login-buttons button {
    margin: 5px;
    padding: 10px;
    border: 1px solid var(--green);
    background: transparent;
    color: var(--green);
    cursor: pointer;
}

.login-buttons button:hover {
    background: var(--green);
    color: black;
}

/* TERMINAL */
#terminal {
    display: flex;
    gap: 20px;
}

/* GAME */
#game {
    width: 600px;
    height: 80vh;
    border: 1px solid var(--green);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#stats {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed var(--green);
}

/* INPUT */
input {
    background: transparent;
    border: none;
    color: var(--green);
    outline: none;
    margin-top: 10px;
}

/* LOG */
#log-feed {
    margin-top: auto;
    font-size: 12px;
    max-height: 150px;
    overflow: hidden;
}

/* RANKING */
#side-panel {
    width: 220px;
    height: 80vh;
    border: 1px solid var(--green);
    padding: 10px;
}

#ranking-list div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid rgba(0,255,65,0.1);
}

#ranking-list div:hover {
    background: rgba(0,255,65,0.1);
}

/* ALERTA */
#alert-box {
    margin-top: 20px;
    opacity: 0;
    transition: 0.3s;
    font-weight: bold;
}